<header>
   <div id="header">
      <div class="centered">
         <div class="logospace">
            <div id="logo">
               <a href="/"><img class="logo" src="/img/logo.png" /></a>
            </div>
         </div>
         <div id="navigation">
           <%= render :partial => 'layouts/menu' %>
         </div>
      </div>
   </div>
</header>
<div id="main" role="main">
   <div class="centered">
      <div id="admin-survey">
         <h2> <%= @rendering.title %> (<%= @count %> <%= @count == 1 ? 'Result' : 'Results' %>)</h2>
         <div class="survey-link">
            <h1>Download Results</h1>
            <div class="download-links">
               <%= link_to 'CSV (Excel)', request.fullpath + '.csv' %> |
               <%= link_to 'XML', request.fullpath + '.xml' %> |
               <%= link_to 'JSON', request.fullpath + '.json' %>
            </div>
            <p> Click one of the links above to download the results of your survey.  CSV (comma-separated values) format should work
               with most major spreadsheet applications such as Microsoft Excel.  The XML and JSON formats might be useful for accessing
               survey results programmatically.</p>
         </div>
         <div class="survey-link">
            <% if (@closed) %>
                <h1><%= link_to 'Re-Open Survey', unclosesurvey_url(:id => params[:id]) %></h1>
                <p>
                  This survey is currently closed.  Click the link above to re-open it.
                </p>
            <% else %>
               <h1><%= link_to 'Close Survey', closesurvey_url(:id => params[:id]) %></h1>
               <p>
                 When you close your survey, anyone who visits your survey's public URL will get an error message saying the survey has been
                 closed.  You will still be able to access the survey results even after you close a survey.  Don't worry if you close a
                 survey by mistake, you can always re-open it again.
               </p>
            <% end %>
         </div>
      </div>
   </div>
</div>