<div class="container">
   <div class="row">
      <div class="panel panel-info">
         <div class="panel-heading"> <%= @rendering.title %> (<%= @count %> <%= @count == 1 ? 'Result' : 'Results' %>)</div>
         <div class="panel-body">
            <h1>Download Results</h1>
            <div>
               <%= link_to 'CSV (Excel)', request.fullpath + '.csv', :class => 'btn btn-default' %>
               <%= link_to 'XML', request.fullpath + '.xml', :class => 'btn btn-default' %>
               <%= link_to 'JSON', request.fullpath + '.json', :class => 'btn btn-default' %>
            </div>
            <p> Click one of the links above to download the results of your survey.  CSV (comma-separated values) format should work
               with most major spreadsheet applications such as Microsoft Excel.  The XML and JSON formats might be useful for accessing
               survey results programmatically.</p>
         </div>
         <div class="panel-body">
           <h1>Open/Close Survey</h1>
            <% if (@closed) %>
                <%= link_to 'Re-Open Survey', unclosesurvey_url(:id => params[:id]), :class => 'btn btn-default' %>
                <p>
                  This survey is currently closed.  Click the link above to re-open it.
                </p>
            <% else %>
                 <%= link_to 'Close Survey', closesurvey_url(:id => params[:id]), :class => 'btn btn-default' %>
               <p>
                 When you close your survey, anyone who visits your survey's public URL will get an error message saying the survey has been
                 closed.  You will still be able to access the survey results even after you close a survey.  Don't worry if you close a
                 survey by mistake, you can always re-open it again.
               </p>
            <% end %>
         </div>
      </div>
   </div>
</div>
