<div class="container survey">
  <div class="row panel panel-success">
     <div class="panel-heading"><%= @rendering.title %></div>
     <div class="panel-body"><%= @rendering.description %></div>
     <%= form_tag(request.fullpath) do %>
        <ol>
           <% @rendering.questions.each do |q| %>
              <li>
                 <%= q[:title] %>
                 <% if q[:type] == 'radio' %>
                   <% i = 0 %>
                   <% q[:options].each do |option| %>
                     <div class="radio">
                        <input name="Q[<%= q[:idx] %>]" id="Q_<%= q[:idx] %>_R<%= (i += 1) %>" type="radio" value="<%= i %>" />
                        <label for="Q_<%= q[:idx] %>_R<%= i %>"><%= option %></label>
                     </div>
                   <% end %>
                 <% end %>

                 <% if q[:type] == 'pointrating' %>
                     <div class="radio">
                     <% q[:points].times do |i| %>
                       <div class="q-ratio">
                         <input name="Q[<%= q[:idx] %>]" value="<%= i + 1 %>" id="Q_<%= q[:idx] %>_R<%= i %>" type="radio" />
                         <label for="Q_<%= q[:idx] %>_R<%= i %>"><%= i + 1 %></label>
                       </div>
                     <% end %>
                     </div>
                 <% end %>

                <% if q[:type] == 'checkbox' %>
                    <div class="checkbox">
                      <% i = 0 %>
                      <% q[:options].each do |option| %>
                        <div class="checkbox">
                          <input name="Q[<%= q[:idx] %>][<%= (i += 1) %>]" id="Q_<%= q[:idx] %>_CB<%= i %>" type="checkbox" />
                          <label for="Q_<%= q[:idx] %>_CB<%= i %>"><%= option %></label>
                        </div>
                      <% end %>
                    </div>
                <% end %>

                <% if q[:type] == 'dropdown' %>
                  <div>
                   <select name="Q[<%= q[:idx] %>]">
                     <% i = 0 %>
                     <% q[:options].each do |option| %>
                       <option value="<%= (i += 1) %>"><%= option %></option>
                     <% end %>
                   </select>
                  </div>
                <% end %>

                <% if q[:type] == 'singleline' %>
                   <div>
                      <input type="textbox" name="Q[<%= q[:idx] %>]" />
                   </div>
                <% end %>

                <% if q[:type] == 'multiline' %>
                   <div>
                      <textarea name="Q[<%= q[:idx] %>]" rows="5"></textarea>
                   </div>
                <% end %>
              </li>
           <% end %>
        </ol>
        <div class="panel-body">
           <input type="submit" class="btn btn-default" name="public-submit" value="Submit"/>
        </div>
     <% end %>
  </div>
</div>
